/* ==============================================
   Patterns décoratifs - Douces Pattes
   ============================================== */

/* Hero Pattern */
.hero::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 500px;
  height: 500px;
  background: url('../assets/images/patterns/pattern.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Avantages - Pattern 2 */
.section#avantages::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 30px;
  width: 220px;
  height: 220px;
  background: url('../assets/images/patterns/pattern2.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section À propos - Pattern 3 */
.section#apropos::after {
  content: '';
  position: absolute;
  bottom: 50px;
  right: 35px;
  width: 240px;
  height: 240px;
  background: url('../assets/images/patterns/pattern3.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Galerie - Pattern 4 */
.section#galerie::before {
  content: '';
  position: absolute;
  top: 45px;
  left: 25px;
  width: 210px;
  height: 210px;
  background: url('../assets/images/patterns/pattern4.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Avis - Pattern 5 */
.section#avis::after {
  content: '';
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: 230px;
  height: 230px;
  background: url('../assets/images/patterns/pattern5.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Confiance - Pattern 6 */
.section#confiance::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 40px;
  width: 200px;
  height: 200px;
  background: url('../assets/images/patterns/pattern6.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Services - Pattern 7 */
.section#services::after {
  content: '';
  position: absolute;
  bottom: 45px;
  right: 35px;
  width: 215px;
  height: 215px;
  background: url('../assets/images/patterns/pattern7.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Fonctionnement - Pattern 8 */
.section#fonctionnement::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 30px;
  width: 205px;
  height: 205px;
  background: url('../assets/images/patterns/pattern8.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Tarifs - Pattern 9 */
.section#tarifs::after {
  content: '';
  position: absolute;
  bottom: 50px;
  right: 40px;
  width: 195px;
  height: 195px;
  background: url('../assets/images/patterns/pattern9.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section FAQ - Pattern 10 */
.section#faq::before {
  content: '';
  position: absolute;
  top: 55px;
  left: 35px;
  width: 220px;
  height: 220px;
  background: url('../assets/images/patterns/pattern10.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Contact - Pattern 11 */
.section#contact::after {
  content: '';
  position: absolute;
  bottom: 60px;
  right: 45px;
  width: 210px;
  height: 210px;
  background: url('../assets/images/patterns/pattern11.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Patterns secondaires pour plus de profondeur */

/* Section Services - Pattern 2 (secondaire) */
.section#services::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 40px;
  width: 180px;
  height: 180px;
  background: url('../assets/images/patterns/pattern2.png') no-repeat center;
  background-size: contain;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

/* Section Tarifs - Pattern 3 (secondaire) */
.section#tarifs::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 50px;
  width: 170px;
  height: 170px;
  background: url('../assets/images/patterns/pattern3.png') no-repeat center;
  background-size: contain;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

/* Section Fonctionnement - Pattern 4 (secondaire) */
.section#fonctionnement::after {
  content: '';
  position: absolute;
  bottom: 50px;
  right: 45px;
  width: 175px;
  height: 175px;
  background: url('../assets/images/patterns/pattern4.png') no-repeat center;
  background-size: contain;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

/* Section FAQ - Pattern 7 (secondaire) */
.section#faq::after {
  content: '';
  position: absolute;
  bottom: 55px;
  right: 40px;
  width: 190px;
  height: 190px;
  background: url('../assets/images/patterns/pattern7.png') no-repeat center;
  background-size: contain;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

/* Section Galerie - Pattern 9 (secondaire) */
.section#galerie::after {
  content: '';
  position: absolute;
  bottom: 45px;
  right: 35px;
  width: 185px;
  height: 185px;
  background: url('../assets/images/patterns/pattern9.png') no-repeat center;
  background-size: contain;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

/* Section Confiance - Pattern 11 (secondaire) */
.section#confiance::after {
  content: '';
  position: absolute;
  bottom: 50px;
  right: 40px;
  width: 180px;
  height: 180px;
  background: url('../assets/images/patterns/pattern11.png') no-repeat center;
  background-size: contain;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

/* Responsive - Hide patterns on mobile */
@media (max-width: 980px) {
  .hero::after { display: none; }
  .section::before,
  .section::after {
    display: none;
  }
}
