/* ==============================================
   Patterns décoratifs - Douces Pattes
   ============================================== */

/* Hero Pattern */
.hero::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 500px;
  height: 500px;
  background: url('../assets/images/patterns/pattern.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Avantages - Pattern 2 */
.section#avantages::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 30px;
  width: 220px;
  height: 220px;
  background: url('../assets/images/patterns/pattern2.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section À propos - Pattern 3 */
.section#apropos::after {
  content: '';
  position: absolute;
  bottom: 50px;
  right: 35px;
  width: 240px;
  height: 240px;
  background: url('../assets/images/patterns/pattern3.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Galerie - Pattern 4 */
.section#galerie::before {
  content: '';
  position: absolute;
  top: 45px;
  left: 25px;
  width: 210px;
  height: 210px;
  background: url('../assets/images/patterns/pattern4.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Avis - Pattern 5 */
.section#avis::after {
  content: '';
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: 230px;
  height: 230px;
  background: url('../assets/images/patterns/pattern5.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Confiance - Pattern 6 */
.section#confiance::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 40px;
  width: 200px;
  height: 200px;
  background: url('../assets/images/patterns/pattern6.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Services - Pattern 7 */
.section#services::after {
  content: '';
  position: absolute;
  bottom: 45px;
  right: 35px;
  width: 215px;
  height: 215px;
  background: url('../assets/images/patterns/pattern7.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Fonctionnement - Pattern 8 */
.section#fonctionnement::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 30px;
  width: 205px;
  height: 205px;
  background: url('../assets/images/patterns/pattern8.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Tarifs - Pattern 9 */
.section#tarifs::after {
  content: '';
  position: absolute;
  bottom: 50px;
  right: 40px;
  width: 195px;
  height: 195px;
  background: url('../assets/images/patterns/pattern9.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section FAQ - Pattern 10 */
.section#faq::before {
  content: '';
  position: absolute;
  top: 55px;
  left: 35px;
  width: 220px;
  height: 220px;
  background: url('../assets/images/patterns/pattern10.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Section Contact - Pattern 11 */
.section#contact::after {
  content: '';
  position: absolute;
  bottom: 60px;
  right: 45px;
  width: 210px;
  height: 210px;
  background: url('../assets/images/patterns/pattern11.png') no-repeat center;
  background-size: contain;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

/* Patterns secondaires pour plus de profondeur */

/* Section Services - Pattern 2 (secondaire) */
.section#services::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 40px;
  width: 180px;
  height: 180px;
  background: url('../assets/images/patterns/pattern2.png') no-repeat center;
  background-size: contain;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

/* Section Tarifs - Pattern 3 (secondaire) */
.section#tarifs::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 50px;
  width: 170px;
  height: 170px;
  background: url('../assets/images/patterns/pattern3.png') no-repeat center;
  background-size: contain;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

/* Section Fonctionnement - Pattern 4 (secondaire) */
.section#fonctionnement::after {
  content: '';
  position: absolute;
  bottom: 50px;
  right: 45px;
  width: 175px;
  height: 175px;
  background: url('../assets/images/patterns/pattern4.png') no-repeat center;
  background-size: contain;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

/* Section FAQ - Pattern 7 (secondaire) */
.section#faq::after {
  content: '';
  position: absolute;
  bottom: 55px;
  right: 40px;
  width: 190px;
  height: 190px;
  background: url('../assets/images/patterns/pattern7.png') no-repeat center;
  background-size: contain;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

/* Section Galerie - Pattern 9 (secondaire) */
.section#galerie::after {
  content: '';
  position: absolute;
  bottom: 45px;
  right: 35px;
  width: 185px;
  height: 185px;
  background: url('../assets/images/patterns/pattern9.png') no-repeat center;
  background-size: contain;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

/* Section Confiance - Pattern 11 (secondaire) */
.section#confiance::after {
  content: '';
  position: absolute;
  bottom: 50px;
  right: 40px;
  width: 180px;
  height: 180px;
  background: url('../assets/images/patterns/pattern11.png') no-repeat center;
  background-size: contain;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

/* Patterns tertiaires (très subtils) pour densité visuelle */

/* Hero - Pattern 8 (centre gauche) */
.hero::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5%;
  width: 280px;
  height: 280px;
  background: url('../assets/images/patterns/pattern8.png') no-repeat center;
  background-size: contain;
  opacity: 0.06;
  pointer-events: none;
  z-index: -1;
  transform: translateY(-50%);
}

/* Section Avantages - Pattern 5 (bas droite) */
.section#avantages::after {
  content: '';
  position: absolute;
  bottom: 30px;
  right: 25px;
  width: 160px;
  height: 160px;
  background: url('../assets/images/patterns/pattern5.png') no-repeat center;
  background-size: contain;
  opacity: 0.06;
  pointer-events: none;
  z-index: -1;
}

/* Section À propos - Pattern 6 (centre) */
.section#apropos::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background: url('../assets/images/patterns/pattern6.png') no-repeat center;
  background-size: contain;
  opacity: 0.04;
  pointer-events: none;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/* Section Avis - Pattern 2 (haut gauche) */
.section#avis::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 20px;
  width: 150px;
  height: 150px;
  background: url('../assets/images/patterns/pattern2.png') no-repeat center;
  background-size: contain;
  opacity: 0.06;
  pointer-events: none;
  z-index: -1;
}

/* Section Contact - Pattern 5 (haut gauche) */
.section#contact::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 30px;
  width: 165px;
  height: 165px;
  background: url('../assets/images/patterns/pattern5.png') no-repeat center;
  background-size: contain;
  opacity: 0.06;
  pointer-events: none;
  z-index: -1;
}

/* Patterns quaternaires (ultra-subtils) pour profondeur maximale */

/* Hero - Pattern 3 (bas centre) */
.hero .container::before {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 200px;
  height: 200px;
  background: url('../assets/images/patterns/pattern3.png') no-repeat center;
  background-size: contain;
  opacity: 0.05;
  pointer-events: none;
  z-index: -1;
  transform: translateX(-50%);
}

/* Section Avantages - Pattern 10 (centre) */
.section#avantages .container::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10%;
  width: 140px;
  height: 140px;
  background: url('../assets/images/patterns/pattern10.png') no-repeat center;
  background-size: contain;
  opacity: 0.05;
  pointer-events: none;
  z-index: -1;
  transform: translateY(-50%);
}

/* Section Services - Pattern 11 (centre) */
.section#services .container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  background: url('../assets/images/patterns/pattern11.png') no-repeat center;
  background-size: contain;
  opacity: 0.04;
  pointer-events: none;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/* Section Tarifs - Pattern 6 (bas gauche) */
.section#tarifs .container::before {
  content: '';
  position: absolute;
  bottom: 5%;
  left: 8%;
  width: 135px;
  height: 135px;
  background: url('../assets/images/patterns/pattern6.png') no-repeat center;
  background-size: contain;
  opacity: 0.05;
  pointer-events: none;
  z-index: -1;
}

/* Section FAQ - Pattern 5 (centre gauche) */
.section#faq .container::before {
  content: '';
  position: absolute;
  top: 45%;
  left: 5%;
  width: 155px;
  height: 155px;
  background: url('../assets/images/patterns/pattern5.png') no-repeat center;
  background-size: contain;
  opacity: 0.05;
  pointer-events: none;
  z-index: -1;
}

/* Section Galerie - Pattern 8 (centre) */
.section#galerie .container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  background: url('../assets/images/patterns/pattern8.png') no-repeat center;
  background-size: contain;
  opacity: 0.04;
  pointer-events: none;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/* Section Confiance - Pattern 9 (centre droit) */
.section#confiance .container::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 8%;
  width: 145px;
  height: 145px;
  background: url('../assets/images/patterns/pattern9.png') no-repeat center;
  background-size: contain;
  opacity: 0.05;
  pointer-events: none;
  z-index: -1;
  transform: translateY(-50%);
}

/* Section Fonctionnement - Pattern 10 (centre) */
.section#fonctionnement .container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 240px;
  background: url('../assets/images/patterns/pattern10.png') no-repeat center;
  background-size: contain;
  opacity: 0.04;
  pointer-events: none;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/* Responsive - Hide patterns on mobile */
@media (max-width: 980px) {
  .hero::after,
  .hero::before,
  .hero .container::before { display: none; }
  .section::before,
  .section::after,
  .section .container::before {
    display: none;
  }
}
